<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/firechat.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  </head>
  <body>
    <h3>You're in chat with <span id='from-not-mom-title'>Logan</span></h3>
    <div id='messagesDiv'></div>
    <!-- <input type='text' id='nameInput' placeholder='Name'> -->
    <input type='text' id='messageInput' placeholder='Message'>
  </body>
  <script src='../js/firechat.js'></script>
</html>
