* {margin: 0; padding: 0;}

body {
   background: #222;
}

#from-not-mom-title {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  display: center;
}

.from-not-mom {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  float: left;
}
.from-not-mom:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:-2px;
  left:-7px;
  height:20px;
  border-left:20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.from-not-mom:after {
  content:"";
  position:absolute;
  z-index:3;
  bottom:-2px;
  left:4px;
  width:26px;
  height:20px;
  background:white;
  border-bottom-right-radius: 10px;
  -webkit-transform:translate(-30px, -2px);
}

.from-mom {
  position:relative;
  padding:10px 20px;
  color:white;
  background: #4BAE4F;
  border-radius:25px;
  float: right;
}
.from-mom:before {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:-2px;
  right:-7px;
  height:20px;
  border-right:20px solid #4BAE4F;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform:translate(0, -2px);
}

.from-mom:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-2px;
  right:-56px;
  width:26px;
  height:20px;
  background:white;
  border-bottom-left-radius: 10px;
  -webkit-transform:translate(-30px, -2px);
}

#messageInput {
  position:relative;
  padding:10px 20px;
  border-color: #4BAE4F;
  border-radius:25px;
  color: black;
  text-align: center;
  left: 40%;

}

#messageInput:focus {
  outline: 0;
}

.clear {
  height: 5px;
  clear: both
}

/*header */

.header {
   height: 50px;
   width: 50px;
   margin: 1px;
   float: left;
   overflow: hidden;

   -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
       border-radius: 50%;
}

.circular {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(images/me.jpg) no-repeat;
  float:right;
  }

/*
hidden modal for bookmarking*/

.fade_bookmark{
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,.85);
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.fade_content_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
}
